.main_add-photo {
  background-color: var(--root-color-white);
  width: 100vw;
  height: 100vh;
}
.photo-form_image-container_edit {
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photo-for-view {
  box-shadow: 4px 4px 5px rgba(35, 35, 35, .4);
  width: 90%;
  min-height: 90%;
  max-width: 1200px;
  margin: 0 auto 1rem auto;
  padding: 0;
  background-color: rgba(35, 35, 35, .4);
}
.photo-input_image {
  width: 90%;
  max-width: 1200px;
}
.photo-btn-box_two {
  justify-content: space-around;
}