.main_photo {
  background-color: var(--root-color-white);
  width: 100vw;
  height: fit-content;
  min-height: calc(100vh - 3rem);
}
.photo-form-container {
  width: 100vw;
  height: fit-content;
  padding: 2rem 0;
}
.photo-form_main {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo-form_image-container {
  margin: 0 auto;
  box-shadow: 4px 4px 5px rgba(35, 35, 35, .4);
}
.photo-view {
  display: block;
}
.image-edit-box {
  width: 86%;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.photo-input_image {
  display: block;
}
.photo-input_image_hidden {
  display: none;
}

.photo-form_info-container {
  width: 320px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.photo-info_hidden {
  display: none;
}
.photo-info {
  height: 1rem;
}
.photo-info_input-box {
  width: 100%;
  height: 3.2rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.photo-info_input-box_textarea {
  width: 100%;
  height: fit-content;
  min-height: 10rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.photo-info_input-box_checkbox {
  margin-top: 1.5rem;
}
.photo-info_input {
  width: 80%;
  margin-bottom: 8px;
}
.photo-info_textarea {
  width: 100%;
  height: 120px;
}
.photo-info_select {
  width: 70%;
}
.photo-btn-box {
  width: 320px;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
}
.photo-info-box {
  position: relative;
}
.photo-info_note {
  height: fit-content;
}
.photo-hidden-icon {
  width: fit-content;
  height: 0.8rem;
  padding: 3px;
  border-radius: 2px;
  font-size: 0.8rem;
  background-color: #e38a6f;
  color: var(--root-color-white);
  position: absolute;
  top: -3px;
  left: 0;
}
.form-err_photo {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
}
.form-err_img {
  right: unset;
  left: 0;
}

@media only screen and (max-width:490px) {
  .photo-form_main {
    margin-bottom: 0;
  }
  .photo-form-container {
    padding: 0;
  }
  .image-edit-box {
    height: fit-content;
    flex-direction: column;
  }
  .btn_photo-cancel {
    margin-top: 5px;
  }
}
