@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  --root-color-white: #FAF8F8;
  --root-color-black: #232323;
  --root-color-blue: #69C2C2;
}
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
input:focus, select:focus {
  outline: none;
}
.main {
  z-index: 0;
}
.main_frozen {
  position: fixed;
  top: 3rem;
  overflow-y: hidden;
}
.page-title {
  margin: 0 auto auto 2rem;
  font-weight: 300;
  line-height: 2;
}

.btn {
  width: 6rem;
  height: 1.7rem;
  border: none;
  background-color: var(--root-color-blue);
  color: var(--root-color-white);
  border-radius: 3px;
  box-shadow: 1px 2px 5px rgba(35, 35, 35, .4);
  font-size: 0.8rem;
}
.btn:hover {
  cursor: pointer;
}
.btn_cancel {
  background-color: #bfaa1f
}
.btn_gray {
  background-color: rgba(35, 35, 35, .4);
}
.btn_large {
  height: 2rem;
}
.btn_disabled {
  opacity: .3;
}
.btn_disabled:hover {
  cursor:default;
}
.link-btn {
  width: fit-content;
  height: 1.6rem;
  line-height: 1.6rem;
  vertical-align: middle;
}
.link-btn_add {
  margin-right: 3rem;
  width: 6rem;
  text-align: center;
}

.link {
  text-decoration: none;
}

.input:focus {
  outline: none;
}

.note_no-record-found {
  text-align: center;
  margin: 5rem auto;
}

.visible_block {
  display: block
}
.visible_flex {
  display: flex;
}
.hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.main-image {
  width: 100vw;
  height: 45%;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.form-err {
  color: #e85548;
  font-size: .8rem;
  line-height: .8rem;
}
.input_err {
  border: 1px solid #e85548;
  border-radius: 3px;
  line-height: 1.15;
}

@import url('./components/header.css');
@import url('./pages/login.css');
@import url('./pages/home.css');
@import url('./pages/photo.css');
@import url('./pages/addPhoto.css');
@import url('./pages/photos.css');
@import url('./pages/categories.css');
@import url('./pages/profile.css');